  <% if current_user.like?(@post) %>
    <p>いいねしてます</p>
  <% else %>
  <%=form_with(model:current_user.likes.build ) do |f| %>
<%=f.hidden_field :user_id,value: current_user.id %>
<%=f.hidden_field :post_id,value: @post.id %>
<%=f.submit "いいね！",class: "btn btn-primary"  %>
<% end  %>
  <% end %>
</div>